@import '../../config.scss';

.home {
    max-width: $max-width;
    margin: 2rem 0;

    .takki {
        margin-top: $gutter/2;
        margin-bottom: $gutter/2;
    }

    .categories {
        pointer-events: none;
    }

    @media (max-width:450px) {
        .products {
            display:flex;
            flex-direction: column;
        }

        .categories {
            display:flex;
            flex-direction: column;
        }
    }
}