@import '../../config.scss';

.details {
    max-width: 1400px;
    display: flex;
    justify-content: space-evenly;

    &__image {
        max-width: 650px;
        padding-top: $gutter;
        padding-bottom: $gutter;
        padding-left: $gutter;
        padding-right: $gutter/2;
    }

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__info {
        max-width: 650px;
        padding-top: $gutter;
        padding-bottom: $gutter;
        padding-left: $gutter/2;
        padding-right: $gutter;
    }

    &__title {
        font-size: 30px;
        font-family: $font-heading;
        padding-bottom: $gutter/2;
    }

    &__catpri{
        padding-bottom: $gutter/2;
        padding-top: $gutter/2;
    }

    &__description {
        padding-top: $gutter/2;
        padding-bottom: $gutter/2;
    }

    &__input {
        max-width: $gutter*2;
    }

    &__lower {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 250px;
    }
}

@media (max-width:450px) {
    .details {
        display: flex;
        flex-direction: column;

        &__info {
            padding: 0;
        }
    }
}

.products {
    
}

