@import '../../config.scss';

.categories {
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__box {
        border: 2px;
        border-style: solid;
        width: 400px;
        padding: 60px;
        height: 200px;
        text-align: center;

        &:hover {
          background-color: black;
          color: white;
        }
    }

    &__title {
      display: block;
      margin: auto;
      font-size: 50px;
    }

  .category {
    text-decoration: none;
    color: black;
  }

  
  .notClickable {
    pointer-events: none;

    &:hover {
      background-color: initial;
    }
  }
}

