@import '../../config.scss';

.register {

  &__form {
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-heading;
    width: 400px;
    padding-bottom: $gutter/2;
    padding-top: $gutter/2;
  }

  &__form:nth-child(2) {
    padding-bottom: $gutter/2;
  }

  &__link {
    padding-top: $gutter/2;
  }

  &__link * {
    text-decoration: none;
    color: black;
  }
}
