@import '../../config.scss';

.header {
  background: $color-font;
  padding: $gutter;


 &__content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 &__title {
   font-family: $font-heading;
   font-size: 30px;
   align-self: center;
 }

 &__haegri {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: $gutter * 6;
   color: $color-background;
   font-family: $font-main;
   justify-content: space-between;
 }
}

.header a {
  text-decoration: none;
  color: white;
}

@media (max-width:450px) {
  .header {

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__haegri {
      display: flex;
      flex-direction: row;
      margin: auto;
      flex-wrap: wrap;
      color: $color-background;
      font-family: $font-main;
      justify-content: space-around;
    }

  }
}
