@import '../../config.scss';

.login {
  padding: $gutter;

  &__contents {
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-main;
    width: 400px;
  }

  &__head {
    font-family: $font-heading;
    padding-bottom: 15px;
  }

  &__username {
    padding-bottom: 15px;
    display: flex;
    justify-content:  space-between;
  }

  &__password {
    padding-bottom: 15px;
    display: flex;
    justify-content:  space-between;
  }

  &__login {
    display: flex;
    padding: 10px;
  }

  &__reg {
    padding-top: 20px;
    display: flex;
    a {
    color: black; 
    text-decoration: none;
    }
  }
}
